---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I am a Postdoctoral researcher in the Computational Neuroimaging Lab at Bio-bizkaia Health Research Institute. 
    I earned my PhD in Biomedical Research from the University of the Basque Country in 2024, but my academic journey 
    began with a degree in Telecommunication Technology Engineering from the University of Granada in 2015 and
    I furthered my education with an MSc in Biomedical Engineering from the University of the Basque Country in 2018. 
    My research is particularly concentrated on investigating brain connectivity in both health and disease, 
    showcasing his commitment to advancing our understanding of this critical aspect of neuroscience
  </div>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="PhD Student"
      subtitle="From Jun 2018 to Jan 2024 at Bio-Bizkaia HRI, Barakaldo, Spain"
    >
      During my PhD, I have been working developing preprocessing pipelines for multimodal MRI and analyzing brain connectivity from different conditions.
      Furthermore, I have integrated the brain connectivity data with other clinical and genetic data, to find new biomarkers for different diseases.
    </TimeLineElement>
    <TimeLineElement
      title="Junior Programmer"
      subtitle="From Dec 2015 to Feb 2018 at Everis an NTT Data Company, Madrid, Spain"
    >
      During that period, I was working migrating a legacy banking platform to a new one, using xml and Shell scripting.
    </TimeLineElement>
    
  </div>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="PhD in Biomedical Research"
      subtitle="2018 to 2024 at University of the Basque Country, Leioa, Spain"
    />
    <TimeLineElement
      title="Master in Biomedical Engineering"
      subtitle="2017 to 2018 at University of the Basque Country, Leioa, Spain"
    />
    <TimeLineElement
      title="Degree in Telecommunication Technology Engineering"
      subtitle="2011 to 2015 at University of Granada, Granada, Spain"
    />
    
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Research Internships</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Visiting student at the Applied and Theoretical Neuroanatomy Group"
      subtitle="From Nov 2022 to Nov 2022 at Institut Pasteur, Paris, France"
    >
      During the stay, I implemented a methodology for generating multimodal brain-disconnectivity maps given a stroke lesion, based on normative data. 
    </TimeLineElement>
    <TimeLineElement
      title="Visiting student at the Movement Control & Neuroplasticity Group"
      subtitle="From Oct 2020 to Dec 2020 at KU Leuven, Leuven, Belgium"
    >
     During the stay, I was working on integrating a neuroimaging meta-analysis tool, for describing from a cognitive perspective, brain circuits disrupted after a stroke. 
    </TimeLineElement>
    
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.fun-mooc.fr/en/courses/machine-learning-python-scikit-learn/" target="_blank">Machine learning in Python with scikit-learn (Inria, 36h)</a>
    </li>
    <li>
      <a href="https://www.win.ox.ac.uk/about/training/oxford-clinical-neuroimaging-course" target="_blank">The Oxford Clinical Neuroimaging Course (University of Oxford, 36h)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>
  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Python</li>
    <li>Matlab</li>
    <li>Shell</li>
    <li>Slurm</li>
    <li>Git</li>
    <li>Docker</li>
    <li>Machine Learning</li>
    <li>Statistics</li>
    <li>Graph Theory</li>
    <li>FSL</li>
    <li>Freesurfer</li>
    <li>MRtrix3</li>
    <li>ANTs</li>
    <li>AFNI</li>
    <li>Nilearn</li>
    <li>fMRIPrep</li>
  </ul>
</BaseLayout>
