---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Papers" sideBarActiveItemID="papers">
  <div>
    <div class="text-3xl w-full font-bold mb-5">2024</div>
  </div>
  
  <HorizontalCard
    title="Open datasets and code for multi-scale relations on structure, function  and neuro-genetics in the human brain"
    desc="Antonio Jimenez-Marin, Ibai Diez, Asier Erramuzpe, Sebastiano Stramaglia, Paolo Bonifazi, Jesus M. Cortes"
    url="https://doi.org/10.1038/s41597-024-03060-2"
    badge2="Scientific Data"
  />

  <div class="divider my-0"></div>
  <HorizontalCard
    title="Cognitive and brain connectivity trajectories in critically ill COVID-19 patients"
    desc="Daniela Ramos-Usuga*,Antonio Jimenez-Marin*, Alberto Cabrera-Zubizarreta, Itziar Benito-Sanchez, Diego Rivera, Endika Martinez-Gutierrez, Elena Panera, Victoria Boado, Fermin Labayen, Jesus M. Cortes, Juan C. Arango-Lasprilla. *Equal first-author contribution"
    url="https://doi.org/10.3233/NRE-230216"
    badge2="NeuroRehabilitation"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5">2023</div>
  </div>
  <HorizontalCard
    title="The neurogenetics of functional connectivity alterations in Autism: Insights from subtyping in 657 patients"
    desc="Javier Rasero*, Antonio Jimenez-Marin*, Ibai Diez, Roberto Toro, Mazahir T. Hasan, Jesus M. Cortes. *Equal first-author contribution"
    url="https://doi.org/10.1016/j.biopsych.2023.04.014"
    badge2="Biological Psychiatry"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5">2022</div>
  </div>

  <HorizontalCard
    title="Multimodal and multidomain lesion network mapping enhances prediction of sensorimotor behavior in stroke patients"
    desc="Antonio Jimenez-Marin, Nele De Bruyn, Jolien Gooijers, Alberto Llera, Sarah Meyer, Kaat Alaerts, Geert Verheyden, Stephan P. Swinnen, Jesus M. Cortes"
    url="https://doi.org/10.1038/s41598-022-26945-x"
    badge2="Scientific Reports"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="The structure of anticorrelated networks in the human brain"
    desc="Endika Martinez-Gutierrez, Antonio Jimenez-Marin, Sebastiano Stramaglia, Jesus M. Cortes"
    url="https://doi.org/10.3389/fnetp.2022.946380"
    badge2="Frontiers in Network Physiology"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Brain mapping of behavioral domains using multi-scale networks and canonical correlation analysis"
    desc="Izaro Fernandez-Iriondo, Antonio Jimenez-Marin, Basilio Sierra, Naiara Aginako, Paolo Bonifazi and Jesus M Cortes"
    url="https://doi.org/10.3389/fnins.2022.889725"
    badge2="Frontiers in Neuroscience"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Heart-brain synchronization breakdown in Parkinson’s disease"
    desc="Martin Iniguez, Antonio Jimenez-Marin, Asier Erramuzpe, Marian Acera, Beatriz Tijero, Ane Murueta-Goyena, Rocio del Pino, Tamara Fernandez, Mar Carmona-Abellan, Alberto Cabrera, Juan Carlos Gomez-Esteban, Jesus M. Cortes, Inigo Gabilondo"
    url="https://doi.org/10.1038/s41531-022-00323-w"
    badge2="npj Parkinson's disease"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="White matter integrity changes and neurocognitive functioning in adult-late onset DM1: a follow-up DTI study"
    desc="Garazi Labayru, Borja Camino, Antonio Jimenez-Marin, Joana Garmendia, Jorge Villanua, Miren Zulaica, Jesus M. Cortes, Adolfo Lopez de Munain, Andone Sistiaga"
    url="https://doi.org/10.1038/s41598-022-07820-1"
    badge2="Scientific Reports"
  />
  <div>
    <div class="text-3xl w-full font-bold mb-5">2021</div>
  </div>
  <HorizontalCard
    title="Transcriptional Signatures of Synaptic Vesicle Genes Define Myotonic Dystrophy Type I Neurodegeneration"
    desc="Antonio Jimenez-Marin, Ibai Diez, Garazi Labayru, Andone Sistiaga, Maria Cristina Caballero, Pol Andres-Benito, Jorge Sepulcre, Isidro Ferrer, Adolfo Lopez de Munain, Jesus M. Cortes"
    url="https://doi.org/10.1111/nan.12725"
    badge2="Neuropathology and Applied Neurobiology"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
  title="Small variation in dynamic functional connectivity in cerebellar networks"
  desc="Izaro Fernandez-Iriondo, Antonio Jimenez-Marin, Ibai Diez, Paolo Bonifazi, Stephan P. Swinnen, Miguel A. Muñoz, Jesus M. Cortes"
  url="https://doi.org/10.1016/j.neucom.2020.09.092"
  badge2="Neurocomputing"
  />
  <div>
    <div class="text-3xl w-full font-bold mb-5">2020</div>
  </div>
  <HorizontalCard
    title="Neurodegeneration trajectory in pediatric and adult/late DM1: A follow-up MRI study across a decade"
    desc="Garazi Labayru, Antonio Jimenez-Marin, Esther Fernandez, Jorge Villanua, Miren Zulaica, Jesus M. Cortes, Ibai Diez, Jorge Sepulcre, Adolfo Lopez de Munain and Andone Sistiaga"
    url="https://doi.org/10.1002/acn3.51163"
    badge2="Annals of Clinical and Translational Neurology"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
  title="Brain circuit alterations and cognitive disability in late-onset cobalamin D disorder"
  desc="Javier de las Heras, Ibai Diez, Antonio Jimenez-Marin, Alberto Cabrera, Daniela Ramos-Usuga, Marta Venecia Diaz-Fernandez, Leire Torices, Caroline E. Nunes-Xavier, Rafael Pulido, Juan C. Arango-Lasprilla, Jesus M. Cortes"
  url="https://doi.org/10.3390/jcm9040990"
  badge2="Journal of Clinical Medicine"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Brain Connectivity And Cognitive Functioning In Individuals Six Months After Multiorgan Failure"
    desc="Antonio Jimenez-Marin, Diego Rivera, Victoria Boado, Ibai Diez, Fermin Labayen, Irati Garrido, Daniela Ramos-Usuga, Itziar Benito-Sanchez, Alberto Cabrera-Zubizarreta, Javier Rasero, Iñigo Gabilondo, Sebastiano Stramaglia, Juan C. Arango-Lasprilla, Jesus M. Cortes"
    url="https://doi.org/10.1016/j.nicl.2019.102137"
    badge2="NeuroImage: Clinical"
  />
  <div>
    <div class="text-3xl w-full font-bold mb-5">2019</div>
  </div>
  <HorizontalCard
  title="Metastable resting state brain dynamics"
  desc="Peter beim Graben, Antonio Jimenez-Marin, Ibai Diez, Jesus M. Cortes, Mathieu Desroches and Serafim Rodrigues" 
  url="https://doi.org/10.3389/fncom.2019.00062"
  badge2="Frontiers in Computational Neuroscience"
  />
  <div>
    <div class="text-3xl w-full font-bold mb-5">2018</div>
  </div>
  <HorizontalCard
  title="Interaction information along lifespan of the resting brain dynamics reveals a major redundant role of the default mode network"
  desc="Borja Camino-Pontes, Ibai Diez, Antonio Jimenez-Marin, Javier Rasero, Paolo Bonifazi, Sebastiano Stramaglia, Stephan P. Swinnen and Jesus M. Cortes" 
  url="https://doi.org/10.3390/e20100742"
  badge2="Entropy"
  />
  <div>
</BaseLayout>
